@font-face {
    font-family: 'Blackfang';
    src: url('/Font/Blackfang.otf') format('truetype');
}

body {
    /* background: #0f1724; */
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
    background-image: url("/Img/arene.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-bottom: 75px;
    font-size: 175px;
    font-family: 'Blackfang';
}

.box {
    display: flex;
    flex-direction: row;       
    justify-content: center;   
    gap: 100px;                
    max-width: auto;
    max-height: 100%;
    margin: auto;
    padding: 20px;
    /* background: #0f1724; */
    /* background: pink; */
    border-radius: 12px;
}

.monster {
    margin-bottom: 30px;
}

.monster-img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#playerName,
#enemyName {
    font-weight: bold;
    font-size: 18px;
    margin: 4px 0;
    color: #f1f5f9; 
}

#playerType,
#enemyType {
    font-size: 14px;
    margin-bottom: 8px;
    opacity: 0.85;
}

.hp-box {
    width: 150px;
    height: 16px;
    background: #333;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.hp-fill {
    height: 100%;
    width: 100%;
    background: #4ade80;
    transition: width 0.3s ease, background 0.3s ease;
}

#playerHpText,
#enemyHpText {
    margin-top: 6px;
    font-size: 14px;
    color: #f1f5f9;
}

button {
    margin: 8px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background: #3b82f6;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
}

button:hover {
    background: rgb(87, 131, 202);
}

button:active {
    transform: scale(0.8);
}
